/*INDEX BACKEND*/

/*SISTEMA DE LOGIN BACKEND*/

.backend-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-backend form {
  background-color: #222222;
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*FIM SISTEMA DE LOGIN BACKEND*/

/*GERAL BACKEND*/

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.self_left {
  align-self: flex-start;
  margin-left: 5%;
}

hr {
  border-color: lightgrey;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
}

/*FIM GERAL BACKEND*/

/*TOP BAR BACKEND*/

#top-bar {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001942;
  width: 100%;
  height: 80px;
}

#top-bar>a {
  height: 80%;
  margin-left: 20px;
}

#top-bar img {
  height: 100%;
}

/* SESSION BOX BACKEND */

.session-box-backend {
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 80%;
  margin-right: 20px;
}

.session-box-backend a {
  color: white;
  text-decoration: none;
}

.session-box-backend a:hover {
  color: white;
  text-decoration: underline;
}

.session-on {
  height: 80%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: 10px;
  flex-wrap: wrap;
}

.photo-employee {
  border: 0;
  outline: none;
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
}

.session-box-backend ul {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: grey;
  position: absolute;
  top: 70px;
  right: 43px;
  list-style-type: none;
  padding: 10px;
}

.session-box-backend li {
  padding: 5px;
}

/* FIM SESSION BOX BACKEND */

/*FIM TOP BAR BACKEND*/

/*NAV BACKEND*/

.nav-backend {
  z-index: 1;
  position: fixed;
  top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #888888;
}

.nav-backend a {
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.nav-backend>*:first-child {
  margin-left: 20px;
}

.nav-backend a:hover {
  text-decoration: underline;
}

/*FIM NAV BACKEND*/

/* ADMIN */

.container-admin {
  position: absolute;
  top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-admin>* {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-admin>*:first-child {
  margin-top: 20px;
}

.open-manager-register {
  width: 180px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin-right: 5%;
  background-color: grey;
  padding: 9px;
  border: 0;
  border-radius: 3px;
  outline: none;
  height: 44px;
}

.open-manager-register>img {
  width: 26px;
}

/* FEATURES */

.btn-requests-ftr {
  width: 180px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin-right: 5%;
  background-color: grey;
  padding: 9px;
  border: 0;
  border-radius: 3px;
  outline: none;
  height: 44px;
}

.btn-requests-ftr>img {
  width: 26px;
}

.requests-feature {
  border: 3.6px solid grey;
  border-radius: 2px;
  display: none;
  padding: 4px;
  width: 90%;
  height: auto;
  max-height: 529px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.request-feature {
  display: flex;
  align-items: center;
  background-color: grey;
  width: 100%;
  height: 175px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.thumbnail-request {
  background-color: white;
  width: 253.5px;
  height: 100%;
}

.photo-manager {
  width: 58px;
  height: 58px;
  background-color: white;
  border-radius: 50%;
}

.immobiles-request {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.manager-request {
  background-color: darkgrey;
  padding: 15px;
  display: flex;
  align-items: center;
}

.manager-request a {
  margin-left: 15px;
  align-self: flex-end;
}

.immobiles-properties {
  background-color: darkgrey;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.request-aprove {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 253.5px;
  height: 100%;
}

.btns-aprove {
  margin: 15px;
  width: 50%;
  align-self: center;
}

/**/

.featured-immobiles {
  border: 3.6px solid grey;
  border-radius: 2px;
  width: auto;
  max-width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f1f1f1;
}

.immobile-featured {
  width: 400px;
  height: 400px;
  background: darkgrey;
  margin: 2px;
}

.thumbnail-feature {
  width: 100%;
  height: 200px;
  background-color: white;
}

.properties-feature {
  display: flex;
  flex-direction: column;
}

/* FIM FEATURES */

/* IMÓVEIS */

.tab-links {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.btns-tab {
  width: 180px;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin: 3px;
  background-color: darkgrey;
  padding: 9px;
  border: 0;
  border-radius: 3px;
  outline: none;
  height: 44px;
}

.btns-tab:hover {
  background-color: grey;
}

.btns-tab.current {
  background-color: grey;
}

.immobiles-tabcontent {
  border: 3.6px solid grey;
  border-radius: 2px;
  width: 90%;
  height: auto;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f1f1f1;
}

.immobiles-tabcontent.current {
  display: flex;
}

/* FIM IMÓVEIS */

/* REGISTAR GESTORES */

.manager-register {
  display: none;
  width: 90%;
}

.manager-register form {
  border: 3.6px solid grey;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 20px;
}

/* FIM REGISTAR GESTORES */

/* GESTORES */

.managers {
  border: 3.6px solid grey;
  border-radius: 2px;
  width: 90%;
  height: 800px;
  background-color: #f1f1f1;
}

/* FIM GESTORES */

/* FIM ADMIN*/

/* GESTOR */

.container-manager {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-manager>* {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-manager>*:first-child {
  margin-top: 20px;
}

/* REGISTAR IMÓVEL */

.immobile-register {
  width: 90%;
}

.immobile-register form {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 20px;
}

/* FIM REGISTAR IMÓVEL */

/* IMÓVEIS */

.immobiles {
  width: 90%;
  height: 800px;
  background-color: grey;
}

/* FIM IMÓVEIS */

/* FIM GESTOR*/