
/*Sistema de login do backend*/
.backend_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_backend form{
  background-color: #222222;
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Fim sistema de login do backend*/

/* Sistem a administração */
  .nav_backend {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #888888;
  }
  .nav_backend button {
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-grow: 1;
    display: flex;
  }
