/*INDEX BACKEND*/

/*SISTEMA DE LOGIN BACKEND*/

.backend-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-backend form {
  background-color: #222222;
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*FIM SISTEMA DE LOGIN BACKEND*/

/*GERAL BACKEND*/

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.self_left {
  align-self: flex-start;
  margin-left: 5%;
}

/*FIM GERAL BACKEND*/

/*TOP BAR BACKEND*/

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001942;
  width: 100%;
  height: 80px;
}

#top-bar>a {
  height: 80%;
  margin-left: 20px;
}

#top-bar img {
  height: 100%;
}

/* SESSION BOX BACKEND */

.session-box-backend {
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 80%;
  margin-right: 20px;
}

.session-box-backend a {
  color: white;
  text-decoration: none;
}

.session-box-backend a:hover {
  color: white;
  text-decoration: underline;
}

.session-on {
  height: 80%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: 10px;
  flex-wrap: wrap;
}

.photo-employee {
  border: 0;
  outline: none;
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
}

.session-box-backend ul {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: grey;
  position: absolute;
  top: 70px;
  right: 43px;
  list-style-type: none;
  padding: 10px;
}

.session-box-backend li {
  padding: 5px;
}

/* FIM SESSION BOX BACKEND */

/*FIM TOP BAR BACKEND*/

/*NAV BACKEND*/

.nav-backend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #888888;
}

.nav-backend a {
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.nav-backend>*:first-child {
  margin-left: 20px;
}

.nav-backend a:hover {
  text-decoration: underline;
}

/*FIM NAV BACKEND*/

/* ADMIN */

.container-admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-admin>* {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-admin>*:first-child {
  margin-top: 20px;
}

.open-manager-register {
  align-self: flex-start;
  margin-left: 5%;
}

/* IMÓVEIS */

.featured-immobiles {
  width: 90%;
  height: 300px;
  background-color: grey;
}

/* FIM IMÓVEIS */

/* REGISTAR GESTORES */

.manager-register {
  width: 90%;
}

.manager-register form {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 20px;
}

/* FIM REGISTAR GESTORES */

/* GESTORES */

.managers {
  width: 90%;
  height: 800px;
  background-color: grey;
}

/* FIM GESTORES */

/* FIM ADMIN*/

/* GESTOR */

.container-manager {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-manager>* {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-manager>*:first-child {
  margin-top: 20px;
}

/* REGISTAR IMÓVEL */

.immobile-register {
  width: 90%;
}

.immobile-register form {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 20px;
}

/* FIM REGISTAR IMÓVEL */

/* IMÓVEIS */

.immobiles {
  width: 90%;
  height: 800px;
  background-color: grey;
}

/* FIM IMÓVEIS */

/* FIM GESTOR*/